<%- include ../public/shop_header.html %>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="/admin/goods/add" class="btn btn-primary">增加商品</a>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="th">
                        <th>序号</th>
                        <th>商品类型</th>
                        <th>类型描述</th>
                        <th>状态</th>
                        <th>添加时间</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--
    列表展示
-->


</body>
</html>