<ul class="aside">
  <%for(var i=0; i<sildeList.length; i++) {%>      
    <%if( (sildeList[i].checked && sildeList[i].type == 1) || (userInfo.is_super==1 && sildeList[i].type == 1) ){%> 		
      <li>
        <h4><%= sildeList[i].module_name%></h4>
        <ul>
          <%for(var j=0; j<sildeList[i].item.length; j++){%>
            <%if( (sildeList[i].item[j].checked && sildeList[i].item[j].type == 2) || (userInfo.is_super==1 && sildeList[i].item[j].type == 2) ){%> 		
              <li  class="list-group-item"> 
                <a href="<%= sildeList[i].item[j].url %>"> <%= sildeList[i].item[j].action_name %></a>
              </li>
            <%}%>
          <%}%>
        </ul>
      </li>
    <%}%>
  <%}%>
 
</ul>
